.login {
  &__wrapper {
    width: 100vw;
    height: 100vh;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.459);
  }

  &__inner {
    max-width: 550px;
    position: relative;
    margin: 0 auto;
    top: 10%;
    background-color: #fff;
    padding: 20px 8px;
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__form {
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 4px;
    }

    input {
      margin-bottom: 20px;
    }
  }

  &__close-btn {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 25px;
    height: 25px;
    opacity: 0.35;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &::after,
    &::before {
      content: "";
      display: block;
      background-color: rgb(0, 0, 0);
      position: absolute;
      height: 25px;
      width: 2px;
      top: -1px;
      right: 10px;
    }
    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
  }

  &__error-message {
    color: rgb(185, 32, 32);
    margin-top: 20px;
  }
}
